* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: auto;
}

:root {
    --primary-color: rgb(243, 243, 251);
    --primary-color2: #14214f;

    --secondary-color: rgba(0, 0, 0, 0.06);
    --g4-color: white;
    --g5-color: rgb(243, 243, 251);
    --g6-color: #fabf75;
    --bg-color2: #ff8c00;
    --bg-color: rgb(209, 209, 235);
    --primary-color3: #14214f;
    --bg-color3: rgb(206, 206, 221);
    --box-shadow: #ff8e03
}

.dark-theme {
    --primary-color3: #14214f;
    --primary-color2: white;
    --bg-white: white;
    --g6-color: rgb(209, 209, 235);
    --bg-color: rgb(209, 209, 235);
    --bg-color2: rgb(209, 209, 235);
    --g5-color: #14214f;
    --g4-color: #676b7d;
    --primary-color: #14214f;
    --primary-font: 'Poppins', sans-serif;

}

body {
    background-color: var(--primary-color);
   

}

#paragraph {
    font-family: var(--primary-font);
    color: var(--primary-color2);
    margin: 15px;
}

#paragraph .m {
    font-style: italic;
    font-weight: 40px;
    font-size: larger;
    margin: 2px;

}

.links {
    border: 0px solid #14214f;
    background-color: var(--g6-color);
    height: 100%;
    width: 20%;
    border-radius: 10px;
    gap: 40px;
    margin: none;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.k {
    color: var(--primary-color);
}


.links img {
    width: 30px;
    cursor: pointer;
}

button {
    background-color: var(--g5-color);
    padding: 15px;
    width: 9rem;
    height: 2.5rem;
    border: 1px solid var(--g5-color);
    border-radius: 4px;
    color: var(--primary-color2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: transform 0.4s ease-in;
}

button:hover {
    background-color: var(--bg-color);
    color: var(--primary-color);

    font-size: 15px;

    box-shadow:
        0 0 5px var(--bg-color),
        0 0 25px var(--bg-color),
        0 0 50px var(--bg-color),
        0 0 100px var(--bg-color),
        0 0 200px var(--bg-color);
}

button .img1 {
    width: 1rem;

}

.about {
    margin-right: 19px;
}

.sec1 {
    position: absolute;
    left: 25%;
    top: 10%;
    color: var(--primary-color2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
 
}

#span {
    color: rgb(243, 136, 6);
    font-style: italic;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.text #text3 {
    font-size: 1rem;
    font-weight: lighter;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#text1 {
    margin-bottom: 20px;

}

#text2 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
}

.text button {

    background-color: var(--g6-color);

    border: 1px solid var(--g6-color);
    
}

.text button:hover {
    
    box-shadow: 5px 5px 15px var(--bg-color2);
    border: none;
    
    color: var(--primary-color);
    background-color: var(--g6-color);

}
.pop-container{
    width: 300px;
    background-color: var(--g6-color);
    
    color: var(--bg-white);
    border: none;
    cursor: pointer;
    border-radius: 3px;
    position: absolute;
   padding: 20px;
    left: 50%;
   top: -70px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: transform 1s, top 0.4s;

}
.pop-container img{
    position: absolute;
    top: 10px;
    left: 270px;
    width: 0.9rem;
    color: var(--primary-color2);
}
.pop-open{
    visibility: visible;
    transform: translate(-275px,285px) scale(1);
}

.text .btn {
    color: var(--primary-color3);
}



.btn--active {

    background-color: var(--bg-color3);
    transform: scale3d(1.1, 1.2, 1);
    font-size: 1.01rem;

    transform: scale3d(1.1, 1.2, 1);
    font-size: 1.01rem;
}

.section {
    display: none;
}

.section--active {
    display: block;
}



.links {
    position: sticky;
}



.about-me {
    position: absolute;
    bottom: 32rem;
    left: 40rem;
    font-size: 2rem;
    color: var(--primary-color2);
    white-space: nowrap;
    border-bottom: 1px solid var(--bg-color2);
    font-family: 'Times New Roman', Times, serif;
}


.about-1 {
    position: absolute;
    bottom: 5rem;
    left: 17rem;
    height: 20rem;
    width: 25rem;
    background-color: var(--primary-color2);
    padding: 15px;
    border: px solid var(--bg-color2);
    color: var(--g5-color);
    box-shadow: 15px 15px   var(--g6-color);
    display: flex;
    align-items: center;

    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: transform 0.8s ease-in-out;

  
}






.about-2 {
    position: absolute;
    bottom: 5rem;
    left: 45rem;
    height: 20rem;
    width: 25rem;
    background-color: var(--primary-color2);
    padding: 15px;
    border: 0px solid var(--bg-color2);
    color:var(--g5-color);
    box-shadow: 15px 15px   var(--g6-color);
    display: flex;
    align-items: center;

    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: transform 0.8s ease-in-out;

  
}




.information1{
    position: absolute;
    left: 20rem;
    top: 35rem;
    color: var(--primary-color2);
  
}

.information1 p{
    border-bottom: 2px solid var(--g6-color);
    padding-bottom: 10px;
}
.information1 span{
    font-weight: bold;
}
.information2{
    position: absolute;
    left: 50rem;
    top: 35rem;
    color: var(--primary-color2);
  
}

.information2 p{
    border-bottom: 2px solid var(--g6-color);
    padding-bottom: 10px;
}
.information2 span{
    font-weight: bold;
}
.my-skill{
    width: 160px;
    height: 160px;
 
  
        position: relative;
    left: 21rem;
    top: 54rem;
}

.outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
              -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    padding: 20px;
}
.inner{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
                -0.5px -0.5px 0px rgba(255, 255,255,1),
                0.5px 0.5px 0px rgba(0, 0,0,0.05),
                0px 12px 10px -10px rgba(0, 0,0,0.05);
}

#number{
    font-weight: 600px;
    color: var(--primary-color2);
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  
}
circle{
    fill: none;
    stroke:url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;
}
#circle3{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray:472 ;
    stroke-dashoffset: 472;
    animation: anim2 2s linear forwards;

}
#circle1{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray:472 ;
    stroke-dashoffset: 472;
    animation: anim3 2s linear forwards;

}
@keyframes anim3 {
    100%{
        stroke-dashoffset: 57;
    }
}

@keyframes anim2 {
    100%{
        stroke-dashoffset: 212;
    }
}




svg{
    position: absolute;
    top: 0;
    left: 0;

}
@keyframes anim{
    100%{
        stroke-dashoffset: 165;
    }
}
.skill{
    display: flex;
    gap: 5rem;
}
#skill{
    display: flex;
    position: absolute;
    left: 25.5rem;
    top: 51rem;   
    gap: 10rem;
   color: var(--primary-color2);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.container-box{
    display: flex;
   gap: 3rem !important;
   position: relative;
   left: 17.5rem;
   top: 61rem;
   width: 55rem;
   overflow-x: hidden;
}
.inside-box{
    height: 30rem;
    width: 50rem;
    background-color: var(--g6-color);
    margin: 0 1.2rem;
    color: var(--primary-color2);
    border-radius: 5px;
    padding: 0 1.5rem;
}
.inside-box h2{
    text-align: center;
    padding-top: 1.5rem ;
    border-bottom: 1px solid #eee;
}












.sec3{
    max-width: 50%;
}
.box img{
    height: 20%;
    width: 20%;
    border-radius: 50%;
    margin-top: 10px;
  
}
.box p{
    color: var(--primary-color2);
    font-family: 'Times New Roman', Times, serif;
}
.html{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.HTML h1{
    white-space: nowrap;
    color: var(--primary-color2);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box-description-container{
    position: absolute;
    left: 27rem;
    top: 5rem;
    display: flex;
    align-items: center;
    gap: 3px;
    background: linear-gradient(var(--primary-color2), var(--bg-color2),var(--primary-color2));
    background-clip:text ;
    -webkit-background-clip:text ;
    color: transparent;
}

.box-description1{
    width: 200px;
    border-bottom: 3px solid var(--primary-color2);
}
.box-description3{
    width: 200px;
    border-bottom: 3px solid var(--primary-color2);
}




.box-container{
    position: absolute;
    left: 20rem;
    top: 10rem;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    

  
 
}
 .box{
    height: 200px;
    width: 250px;
    left: 20rem;
    top: 65rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    padding: 20px;
}
.my-portfolio .my-p{
    position: absolute;
    left: 40rem;
    top:1rem;
    font-size: 1.5rem;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(var(--primary-color2),var(--bg-color2));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}


.project{
    position: absolute;
    left: 17.3rem;
    top: 5rem;
    display: grid;
    gap: 15px;
    row-gap: 60px;
    grid-template-columns: repeat(3,1fr);
}
.project div{
    height: 250px;
    width: 280px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}
.pro img{
    height: 200px;
    width: 280px;
    margin: 0;
}
.p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #14214f;
   
   text-align: center;
   font-size: 0.8rem;


}
.pro button{
    background:var(--g6-color);
    margin: 20px auto;
    color: #eee;
}
.show-nav{
    display: none;
}
.img4{
    display: none;
}
.kkk{
    display: flex;
    gap: 50px;
    margin-top: 20px;
    margin-left: 30px;
   }
   a{
    text-decoration: none;
    color: #14214f;
   }



   .igg img {
    height: 300px;
    width: 300px;

  
    position: absolute;
    top: 10%;

    left: 100%;
    transition: transform 0.8s ease-in-out;


}

.igg img:hover {
    transform: translateY(50px)scale(1.2);
}
.igg-container{
    display: flex;
   flex-wrap: wrap;
    gap: 20px;
    margin-top: 100px;
    margin-left: 30px;
 }
 .igg{
     background-color: rgb(221, 221, 221);
     height: 300px;
     width: 400px;
     display: flex;
     flex-direction: row-reverse;
     padding-bottom: 10px;
 
     position: relative;
     right: 40px;
        
     
    
 }
 .igg img {
    
     height: 70%;
     width: 70%;
     position: relative;
     top: 40px;
    left: -65px;
    transition: all 0.7s ease-in-out;
    z-index: 1;
    
  
 }
 .igg p{
 left: 10px;
     position: absolute;
     top: 50%;
     font-size: 15px;
    transition: all 0.7s ease-in-out;
    margin-left: 60px;
 }
 .bac{
    width: 97%;
    height: 400px;
    position: absolute;
    left: -30px;
    top: -65px;
    margin-bottom: 80px;
    z-index: -1;
 }
.sub-generalt{
  padding-left:  200px;

   
}


@media screen and (max-width:768px){
    .project{
        display: flex;
        flex-direction: column;
    }
    .img4{
        display: block;
    }
    .img4-hidden{
        display: none;
    }
    
    .show-nav{
        z-index: 1;
        background-color: var(--g6-color);
        margin: 0;
        height: 50px;
        margin-top: 0px;
        display: flex;
        justify-content: space-between;
    }
    .dipper{
        display: none;
    }
 
    .links{
        visibility: hidden;
        border-radius: 0px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        width: 150px;
        height: 100%;
        gap: 20;
        left: -50px;
        position: absolute;
        transition: all 0.4s ease-in-out;
        
    }
    .lanks{
        visibility: visible;
        transform: translateX(50px);

        
    }
 
    .sec1{
        position: absolute;
        top: 100px;
        left: 0px;
        padding: 30px;
       width:100%;
    }
    .sec1{
        height:80%;
      
    }
    .igg img{
        position: relative;
        top: 120px;
       left: -30px;
       width: 420px;
       border-radius: 0px;
        
    
    }
    .btn{
        width: 20px;
        border-radius: 30%;
        margin-bottom: -14px;
    }
    .btn span {
        display: none;
    }
    .igg img:hover {
        transform: translateY(0px)scale(1);
    }
   .hambuger{
    display: flex;
    flex-direction: column;
    gap: 10px;

   }
   .line{
    width: 40px;
    height: 1px;
    background: #fafbff;
    gap: 5px;
    margin-right: 20px;
    margin-top: 2px;
   }
   .btn-click{
    background-color: var(--g5-color);
    padding: 10px;
    width: 9rem;
    height: 2.5rem;
    border: 1px solid var(--g5-color);
    border-radius: 4px;
    color: var(--primary-color2);
    display: flex;
    justify-content: space-around;
    align-items: center;

   }
   
.btn-click:hover {
    background-color: var(--bg-color);
    color: var(--primary-color);

    

    box-shadow:
        0 0 5px var(--bg-color),
        0 0 25px var(--bg-color),
        0 0 50px var(--bg-color),
        0 0 100px var(--bg-color),
        0 0 200px var(--bg-color);
}
.igg-container{
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin-top: 80px;
}
.igg{
    background-color: rgb(221, 221, 221);
    height: 200px;
    width: 120%;
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 10px;

    position: relative;
    right: 30px;
       
    
   
}
.igg img {
    height: 70%;
    width: 70%;
    position: relative;
    top: 40px;
   left: -40px;
   transition: all 0.7s ease-in-out;
   z-index: 1;
   
 
}
.igg p{
left: 25px;
    position: absolute;
   top: 30%;
    font-size: 10px;
   transition: all 0.7s ease-in-out;
   margin-left: 20px;
}
.igg p:hover{
    transform:scale(1.2);
  }
.igg p .span{
    margin-left: 30px;
}
.igg p .span1{
    margin-left: 30px;
}
.igg:nth-of-type(2) .span1{
 margin-left: 20px;
}
.igg:nth-of-type(3) .span1{
    margin-left: 20px;
   }

   .sub-generalt{
    
    text-align: center;
    font-size: 0.8rem;
  padding: 5px;
   }
   .kkk{
    display: flex;
    gap: 20px;
    margin-top: 10px;
    margin-left: 20px;
   
   }
   .bac{
    width: 96%;
    height: 380px;
    position: absolute;
    margin: 10px 0;
    left: 10px;
    padding: 10px;
   }
   #text1{
    margin-top: -40px;
    margin-right: 30px;

  
   }
   #text2{
    margin-top: -10px;
    margin-right: 30px;
    
   }
   #text3 p{
    font-size: 0.7rem;
    margin-right: 30px;
    
   }
   .btn-click{
    width: 6rem;
    height: 2rem;
    font-size: smaller;
    
   }
   .btn-click:hover{
    font-size: smaller;
   }
   .sec2{
    width: 100%;
    position: absolute;
    left: -200px;
}

.iii{
    position: absolute;
    top: 11rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    left: 10rem;

 
}
.about-1{
    width: 270px;
    height: 200px;
    position: relative;
    left:4rem;
    font-size: 0.65rem;
    padding: 9px;
}
.about-2{
    position: relative;
    left: 4rem;
    width: 270px;
    height: 200px;  
    font-size: 0.65rem;
    padding: 9px;
}
.wrap{
    position: relative;
    top: 200px;
}


.about-me {
    position: absolute;
    bottom: 36rem;
    left: 18rem;
   font-size: 26px;
}
.information{
    position: absolute;
   
   
    display: flex;
    flex-direction: column;
    left: 17rem;
    top: 17rem;
}
.information1{
    position: absolute;
    left: -2rem;
    top: 7rem;
    width: 15rem;
    font-size: 0.8rem;
   text-align: center;
}
.information2{
    position: absolute;
    left: -2rem;
    top:20rem;
    width: 15rem;
    font-size: 0.8rem;
    text-align: center;
   
}
#skill{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20.5rem;
    top: 50rem;   
    gap: 10rem;
    
}

.skill{
    display: flex;
    flex-direction: column;
    position: relative;
    left: -3rem;
    top: -2rem;  
    gap: 5rem;
}
#skill-1{
  margin-bottom: 50px;
  display: flex;
 margin-left: 14px;
}
#skill-2{
    margin-bottom: 50px;
    padding-left: 20px;
  }
  #skill-3{
    margin-bottom: 30px;
    margin-left: -10px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-box{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100rem;
    width: 20rem;
    left: 15rem;
    display: none;
    
  }
  .box-description-container{
    position: relative;
    left:80px;
    font-size: smaller;
    top: 40px;
    white-space: nowrap;
    font-size: smaller;
  }
  .box-description1{
    width: 300px;
    
    
  }
  .box-description3{
    width: 300px;
  }
  .box-container{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 90px;
    left: 80px;
  }
  .my-portfolio{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 50%;
    left:-16rem;
  }
.my-portfolio .my-p{
    position: relative;
    left:22rem;
}

}



